{% if serviceLocationChannel.phoneNumbers %}
{% for number in serviceLocationChannel.phoneNumbers %}
{% if number.additionalInformation %}<h4>{{ number.additionalInformation }}</h4>{% endif %}
<div class="phone-number">{{ number|phoneNumber(true) }}</div>
{% endfor %}
{% endif %}
