{% if serviceLocationChannel.phoneNumbers %}
{% for number in serviceLocationChannel.phoneNumbers %}
{% if number.additionalInformation %}<small>{{ number.additionalInformation }}</small>{% endif %}
<div class="phone-number">{{ number|phoneNumber(true) }}</div>
{% endfor %}
{% endif %}
