{% if electronicChannels %}
<h2>Verkkoasiointikanavat</h2>
{% for electronicChannel in electronicChannels %}
<div class="electronic-service-channel-link"><a href="{{ electronicChannel.urls|localizedValue(lang) }}">{{ electronicChannel.names|localizedValue(lang) }}</a></div>
{{ electronicChannel.descriptions|localizedValue(lang)|nl2p|raw }}
{% endfor %}  
{% endif %}