{% spaceless %}
{% if service.descriptions|localizedValue(lang, 'ServiceUserInstruction') %}
<h2>Toimintaohjeet</h2>
<p>{{ service.descriptions|localizedValue(lang, 'ServiceUserInstruction')|nl2br }}</p>
{% endif %}
{% endspaceless %}