{% spaceless %}
{% if service.descriptions|localizedValue(lang, 'ServiceUserInstruction') %}
<h3>Toimintaohjeet</h3>
<p>{{ service.descriptions|localizedValue(lang, 'ServiceUserInstruction')|nl2br }}</p>
{% endif %}
{% endspaceless %}