{% if serviceLocationChannels %}
<h2>Toimipisteet</h2>
{% for serviceLocationChannel in serviceLocationChannels %}
<div class="service-location-channel-link"><a href="{{ serviceLocationChannel.id|serviceLocationPath(serviceId) }}">{{ serviceLocationChannel.names|localizedValue(lang) }}</a></div>
{% endfor %}  
{% endif %}